header {
  background-image: url(../img/image-hero.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  .header {
    @include flexBox();
    padding: 30px 0;
    z-index: 1;
    h2 {
      color: white;
      font-family: "Quicksand", sans-serif;
      font-size: 36px;
      z-index: 3;
    }
    nav {
      ul {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        li {
          a {
            color: white;
            @extend %primary_link;
            font-size: 16px;
          }
        }
      }
    }
    .fa-bars {
      color: white;
      display: none;
      z-index: 6;
    }
    @media only screen and (max-width: 991px) {
      nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        ul {
          background-color: #000;
          flex-direction: column;
          justify-content: center;
          height: 100vh;
          row-gap: 20px;
        }
        &.show {
          display: block;
        }
      }
      .fa-bars {
        display: block;
      }
    }
  }
  .info {
    .text {
      height: 300px;
      width: 650px;
      border: 2px solid white;
      padding: 20px 45px;
      position: absolute;
      top: 42%;
      left: 10%;
     @include flexBox();
     justify-content: center;
      p {
        color: white;
        font-family: "Josefin Sans", sans-serif;
        font-size: 55px;
        width: 87%;
        line-height: normal;
      }
    }

    @media only screen and (max-width: 991px) {
      margin: 0 auto;
      text-align: center;
      padding-top: 50px;
      @include flexBox();
      justify-content: center;
      margin-top: 80px;
      .text {
        height: 150px;
        padding: 0;
        @include flexBox();
        position: static;

        p {
          font-size: 40px;
          line-height: normal;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .text {
        width: 450px;
        height: 250px;
      }
    }
  }
}
